<h1><%= options.title %></h1>

<% if (text) { %><p><%= options.text %></p><% } %>

<% if (options.type == 'confirmation') { %>
<button class="viking-alert-btn-negative"><%= options.cancelButtonText %></button>
<% } %>

<button class="viking-alert-btn-positive primary"><%= options.confirmButtonText %></button>

