<% if (view.title) { %>
    <h1><%= view.title %></h1>
<% } %>

<p>
    <%= _.result(view, 'message') %>
</p>

<% if (view.type == 'confirmation') { %>
    <button class="viking-alert-btn-negative"><%= view.cancelButtonText %></button>
<% } %>

<button class="viking-alert-btn-positive primary"><%= view.confirmButtonText %></button>